<!-- 
  File name: mcq.ejs
  Group Number: Group 6
  Web App name: Survey Ocean
  Description: Survey main page
-->

<% include ../partials/header.ejs %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/survey">Survey</a></li>
      <li class="breadcrumb-item">New Survey</a></li>
    </ol>
    <div style="background:transparent !important" class="jumbotron col-md-offset-2 col-md-8">
      <h3>&nbsp;&nbsp;&nbsp; <i class="fa fa-archive"></i> New Survey</h3>
    </div>
    
    <div class="container">
      <form class="form-horizontal" method="post">
      <div class="form-group"> 
        <label for="title" class="control-label col-md-2">Title: </label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="<%= mcq %>" name="<%= mcq %>" placeholder="<%= mcq %>" required>
        </div>
      </div>
        
        <div class="form-group question">
        <% for (let i=0; i< mcqs.length;i++) { %>
        <div class="row">
          <label for="question"> Question: <%= i+1 %> </label>
          <input type="text" class="form-control" id="<%=mcqs[i]._id %>" name="<%=mcqs[i]._id %>" placeholder="<%=mcqs[i]._id%>"/>
          <br>
          <div class="form-inline">              
                <input type="text" size="10" class="form-control" id="" name="" placeholder="<%=mc._id %>" /> 
                <input type="text" size="10" class="form-control" id="" name="" placeholder="<%= mc %>" />
                <input type="text" size="10" class="form-control" id="" name="" placeholder="c choice" /> 
                <input type="text" size="10" class="form-control" id="" name="" placeholder="d choice" />
          </div>
        </div>
        
        
        <% } %>
          
        </div> <!-- form group for question 1 -->

        <div class="row" id="time">
            <label for="expiryDate" class="control-label col-md-2">Expiry Date: </label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="mcq.expire" name="mcq.expire" placeholder="mcq.expire" required>
            </div>
        </div>
        
         <div class="row">
        <div class="col-md-2"> 
          <a href="/addMcQuestion" class="btn btn-success"> Submit survey </a>
        </div>   <!-- col-md-2 -->
      </div>
      </form>
      
     
    </div> <!-- body .container -->
<% include ../partials/footer.ejs %>